<div class="backdrop">
    <div class="modal" data-modal="registration">
        <div class="modal__content">
            <div class="modal__close"></div>
            <div class="modal__body">
                <img src="img/registration.png" alt="">
                <div class="modal__title">Зарегистрируйтесь, <br> чтобы иметь доступ к видео</div>
                <div class="modal__controls">
                    <a href="javascript:void(0)" class="btn">Регистрация</a>
                    <a href="javascript:void(0)" class="btn btn-outline">Авторизация</a>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="js/sticky.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>